* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    background-color: black;
    padding: 20px;
    border: 1px solid wheat;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    grid-template-areas: "header header header"
                         "main main2 main3"
                         "footer footer footer";
    gap: 10px;
}

.grid-item {
    background-color: grey;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font: 15px;
}

.grid-item:nth-child(1) {
    background-color: rgb(190, 128, 128);
}

.grid-item:nth-child(2) {
    background-color: rgb(128, 190, 128);
}

.grid-item:nth-child(3) {
    background-color: rgb(128, 128, 190);
}

.grid-item:nth-child(4) {
    background-color: rgb(190, 190, 128);
}

.grid-item:nth-child(5) {
    background-color: rgb(128, 190, 190);
}

.header {
    grid-area: header;
    height: 10vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
    height: 80vh;
}

.main2 {
     display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main2;
    height: 80vh;
}

.main3 {
     display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main3;
    height: 80vh;
}

.footer {
    grid-area: footer;
    height: 10vh;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    border: 5px solid black;
    padding: 1rem;
}

.img-fluid {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "header"
            "main"
            "main2"
            "main3"
            "footer";
    }
}