@use "../utilities/variables" as *;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-principal;
}

header {
     grid-area: header;
    height: 10vh;
}



